
body { 
    background-image: url("../images/crowd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }


/* I obtained the glow font code for my title from this website: https://cssreset.com/create-glowing-neon-text-using-css3/ */
h1 { 
    text-align: center;
    margin-left: 10px;
    font-size: 65px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 
    0 0 55px #ff0080, 0 0 75px #ff0080;
}

div, form, input {
      margin: 10px;
}


button {
    letter-spacing: 2px;
    border-radius: 15%;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: rgb(230, 0, 122);
    border-color: rgb(210, 224, 224);
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 0 0 10px 3px;
}

button:hover {
    background-color:lightpink;
    color: black;
}

#buttons-view{
max-width: 100%;
}


/* The label of Add A Music Artist's Name! */
label {
    font-weight: bolder;
    /* color: white;  */
    font-size: 20px;
    margin-left: -10px;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 
    0 0 55px #ff0080, 0 0 75px #ff0080 
}



/*Cited: https://www.w3schools.com/css/css3_buttons.asp. Adding a "pressed" effect on click of my submit button.*/
.add-celeb {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
  }
  
  .add-celeb:hover {background-color: rgb(248, 194, 194)}
  
  .add-celeb:active {
    background-color: whitesmoke;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  /*the ratings text*/
 p {
    font-size: 20px;
    font-family: 'Futura';
    font-weight: bolder;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 
    0 0 55px #ff0080, 0 0 75px #ff0080;
} 


  
/* The submit form div */
form {
    max-width: 100%;
    margin-left: 300px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* The gif images */
.gif{
    height: 200px;
    width: 300px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px;
}

#gifs-appear-here {
    margin-left: 120px;
}


/*Live Stream TuneIn Radio Station*/
#myAudio {
margin-left: 620px;
margin-top: 320px; 
}

#audioTitle {
  margin-right: 80px;
  font-weight: bolder;
}

audio {
  margin-left: 30px;
}



 /*Media Queries*/

 @media screen and (max-width: 980px) {

    label {
        color: black;
        font-size: 20px;
        font-weight: bolder;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 
        0 0 55px #ff0080, 0 0 75px #ff0080;
      }

    #celeb-form {
      padding-right: 0;
        top: 20px;
        left: 10px;
        width: 100%;
        margin-right: 800px;
        margin-left: 95px;
    }

    #gifs-appear-here {
        margin-left: 150px
    }

    #myAudio {
      margin-left: 305px;
      margin-top: 320px; 
      }
  } 
  
  
  @media screen and (max-width: 768px) {
  label {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 
    0 0 55px #ff0080, 0 0 75px #ff0080;
  }
  
  
  #celeb-form {
      margin-left: -40px;
      left: 100px;
  }
  
  .add-celeb {
    margin-left: 450px;
    margin-top: -45px;
  }

  #gifs-appear-here {
    margin-left: 180px
  }

  #myAudio {
    margin-left: 180px;
    margin-top: 205px; 
    }
}


  @media screen and (max-width: 640px) {
  
    label {
        color: black;
        font-weight: bold;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 
        0 0 55px #ff0080, 0 0 75px #ff0080;
      }
    

    #celeb-form {
      margin-left: -20px;
    }


    #gifs-appear-here {
        margin-left: 140px
    }
  
    #myAudio {
       margin-left: 120px;
       margin-top: 200px; 
    }

  } 
  